<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >

<head>

    <meta charset="UTF-8">
    <title> Add Delegates </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h2> Add Event Delegatess </h2>
    <hr>
    <form th:action="@{/saveDelegate}" th:object="${delegate}" method="POST" >
        <input type="text" th:field="*{firstName}" placeholder="Enter First Name" class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{lastName}" placeholder="Enter last Name" class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{organization}" placeholder="Enter Organization" class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{jobTitle}" placeholder="Enter Job Title" class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{phoneNumber}" placeholder="Enter Phone Number" class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{email}" placeholder="Enter Email " class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{address}" placeholder="Enter Address" class="form-control col-4 mb-4"/>
        <input type="text" th:fields="*{postalCode}" placeholder="Enter Postal Code" class="form-control col-4 mb-4"/>
        <input type="hidden" th:field="*{id}"/>
        <button class="btn btn-primary" type="submit">Save</button>




    </form>
    <hr>
    <a th:href="@{/list}" class="btn btn-primary mb-3"> Return to  Event Delegate List </a>



</div>

</body>


</html>